.image {
  width: 200px;
  text-align: ce;
}

.continers {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px;
}
.one-trip {
  padding: 10px;
  margin: 10px;
  border: 4px solid #000;
  background-color: cornsilk;
}
.contents {
  text-align: center;
}
